#currentChat{
    height: 100%;    
}
.bi{
    font-size: xx-large;
  }
  #background{
    padding: 0%;
    margin: 0%;
    height:100%;
    width: 65%;
    background-image: url(./chatWallpaper2.jpg);
    position:absolute;
  }
  .myButton{
    position:absolute;
    bottom: 15%;
  }
  #bottomChat{
    margin: 0%;
    width: 86%;
    position:absolute;
    bottom: 15%;
    left: 7.5%;
  }
  #sendButton{
    right: 0%;
  }
  #attachButton{
    left: 0%;
  }
  #topStrip{
    background-color: palevioletred;
  }
  #addButton{
    font-size: x-large;
    float: right;
  }